// Descriptive color variables

$white          : #fff;
$black          : #000;
$grey           : #777;
$malibu-blue    : #51ddfc;
$sunglo         : #e4757a;
$purp-mountain  : #927bc1;
$emerald        : #63CC82;
$coral          : #fd7856;
$viking         : #58e1c1;
$french-lilac   : #deb2ee;
$anakiwa        : #7ee6fd;
$vista-blue     : #88d9a0;
$fountain-blue  : #4da2bb;
$sea-pink       : #ec9fa3;
$vivid-tangerine: #fd9f85;
$riptide        : #80e8d1;
$silver         : #ccc;
$fountain-blue  : #4da2bb;
$fountain-blue  : #4da2bb;

// Functional color variables  __  some_not_functional(For personal reminders only)

$color-hover-light : lighten($grey, 15%);
// $color-border-dark  : $purp-mountain;

// $color-link-default : $purp-mountain;
// $color-link-visited : $malibu-blue;

// $color-shadow       : rgba($black,.8);
// $color-body         : $white;