/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: $white;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
  transition: background-color 0.4s ease-in-out;
  &:hover {
    background-color: $color-hover-light;
  }
}

.default {
  background-color: $malibu-blue;
}

.error {
  background-color: $sunglo;
}

.info {
  background-color: $purp-mountain;
}

.success {
  background-color: $emerald;
}

.warning {
  background-color: $coral;
}

  