/* ============================================= */
/*              Media Queries                    */
/* ============================================= */

@media #{$brk-point} {

  .container {
    max-width: 1400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .centered {
    @include image-prop;
  }
  
  .row {
    flex-direction: row;
  }
  
  [class^=col] {
    display: flex;
    justify-content: center;
    margin-top: 0;
    align-items: center;
  }
  
  [class^=col] + [class^=col] {
    margin-left: 10px;
  }
  
  @each $val, $size in $flexb-size {
    .col-#{$val} {
      flex-basis: $size;
    }
  }

  .nav {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    &-link {
      flex-basis: 100px;
    }
  }
  
  .btn {
    padding: 10px 30px;
  }
  
  .btn + .btn {
    margin-left: 10px;
  }
  
  .logo {
    margin-left: initial;
    margin-right: initial;
  }    
}